body {
    max-width: 1920px;
}

.container {
    max-width: 900px;
    margin: auto;
}
button {
    width: 200px;
    height: 50px;
    border: 1px solid black;
}
.form {
    z-index: 10;
    transform: translateY(-1000%);
    width: 400px;
    height: 500px;
    background-color: aquamarine;
}
.form:active {
    transform: translateY(0);
    top: 100px;
    left: 100px;
}